#Main {
  width: 100%;
  height: 600px;
}

#Opponent {
  width: 290px;
  height: 540px;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.opponent1_75 {
  background-image: url(../../img/opponent1_75.png);
}

.opponent1_50 {
  background-image: url(../../img/opponent1_50.png);
}

.opponent1_25 {
  background-image: url(../../img/opponent1_25.png);
}

.opponent1_0 {
  background-image: url(../../img/opponent1_0.png);
}

.opponent2_75 {
  background-image: url(../../img/opponent2_75.png);
}

.opponent2_50 {
  background-image: url(../../img/opponent2_50.png);
}

.opponent2_25 {
  background-image: url(../../img/opponent2_25.png);
}

.opponent2_0 {
  background-image: url(../../img/opponent2_0.png);
}

.opponent3_75 {
  background-image: url(../../img/opponent3_75.png);
}

.opponent3_50 {
  background-image: url(../../img/opponent3_50.png);
}

.opponent3_25 {
  background-image: url(../../img/opponent3_25.png);
}

.opponent3_0 {
  background-image: url(../../img/opponent3_0.png);
}

.opponent4_75 {
  background-image: url(../../img/opponent4_75.png);
}

.opponent4_50 {
  background-image: url(../../img/opponent4_50.png);
}

.opponent4_25 {
  background-image: url(../../img/opponent4_25.png);
}

.opponent4_0 {
  background-image: url(../../img/opponent4_0.png);
}

.opponent5_75 {
  background-image: url(../../img/opponent5_75.png);
}

.opponent5_50 {
  background-image: url(../../img/opponent5_50.png);
}

.opponent5_25 {
  background-image: url(../../img/opponent5_25.png);
}

.opponent5_0 {
  background-image: url(../../img/opponent5_0.png);
}

.player {
  background-image: url(../../img/player.png);
}

#OpponentIntro {
  width: 400px;
  height: 400px;
  margin: 100px 100px 0 auto;
  float: right;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

#Game {
  width: 550px;
  height: 540px;
  float: right;
}

.GameRow {
  width: 550px;
  height: 135px;
  float: left;
}

.portrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 0 auto;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.meter {
  width: 100px;
  height: 15px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.metervalue {
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgba(255, 0, 0, 0.8);
}

.speechballoon {
  width: 350px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  float: left;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}

.speechballoon::before {
  position: absolute;
  margin: 0 0px 0px 350px;
  display: block;
  width: 20px;
  font-size: 2em;
  content: "▶";
  color: rgb(50, 50, 50);
}

.shaker {
  width: 80px;
  height: 80px;
  margin: 0 auto 0 auto;
  background-image: url(../../img/shaker.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.shaking {
  animation-name: shakingAnimation;
  animation-duration: 0.5s;
}

@keyframes shakingAnimation {
  0%   { margin: 5px auto 0 auto; }
  25%  { margin: 0 auto 0 auto; }
  50%  { margin: 5px auto 0 auto; }
  75%  { margin: 0 auto 0 auto; }
  100% { margin: 5px auto 0 auto; }
}

.guessQty {
  font-weight: bold;
  font-size: 2.2em;
  text-align: right;
}

.guessButtons {
  text-align: left;
}

.guessButtons button {
  width: 8px;
  height: 8px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
}

.btnStartStage, .btnFinalQuit {
  margin: 50px auto 0 auto;
}

.btnQuit {
  margin: 20px auto 0 20px;
}

#Champion {
  width: 100%;
  height: 200px;
  float: left;
  text-align: center;
  font-size: 3em;
}

.final {
  width: 20%;
  float: left;
}

.final .profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.final .words {
  padding: 1em;
  font-size: 0.5em;
}