#Main {
  width: 100%;
  height: 600px;
}

#Opponent {
  width: 295px;
  height: 540px;
  float: left;
}

#Game {
  width: 550px;
  height: 540px;
  float: right;
}

.GameRow {
  width: 550px;
  height: 135px;
  float: left;
}

.portrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.meter {
  width: 100px;
  height: 15px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.metervalue {
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgba(255, 0, 0, 0.8);
}

.speechballoon {
  width: 350px;
  height: 100px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  float: left;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}

.speechballoon::after {
  position: absolute;
  margin: -30px 0px 0px 350px;
  display: block;
  width: 20px;
  font-size: 2em;
  content: "▶";
  color: rgb(50, 50, 50);
}

.shaker {
  width: 80px;
  height: 80px;
  margin: 0 auto 0 auto;
  background-image: url(../../img/shaker.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.shaking {
  animation-name: shakingAnimation;
  animation-duration: 0.5s;
}

@keyframes shakingAnimation {
  0%   { margin: 5px auto 0 auto; }
  25%  { margin: 0 auto 0 auto; }
  50%  { margin: 5px auto 0 auto; }
  75%  { margin: 0 auto 0 auto; }
  100% { margin: 5px auto 0 auto; }
}

.dice {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  float: right;
  margin-left: 15px;
}

.opponent_dice {
  background-color: rgb(20, 20, 20);
  border: 3px solid rgb(20, 20, 20);
}

.player_dice {
  background-color: rgb(255, 255, 250);
  border: 3px solid rgb(255, 255, 250);
}

.dot {
  width: 16px;
  height: 16px;
  float: left;
}

.hideDice::after, .val1::after {
  display: block;
  content: "";
  margin: 1px 0 0 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.opponent_dice .val1::after {
  border: 2px solid rgb(200, 200, 200);
  background-color: rgb(180, 180, 180);
}

.player_dice .val1::after {
  border: 2px solid rgb(180, 0, 0);
  background-color: rgb(100, 0, 0);
}

.hideDice::after {
  border: 2px solid rgb(50, 50, 50);
  background-color: rgb(30, 30, 30);
}