.App {
    width: 850px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

#Intro {
  width: 100%;
  height: 100%;
}

.col {
  width: 160px;
  height: 540px;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  overflow: visible;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

#IntroStart {
  width: 300px;
  height: 200px;
  margin-left: -70px;
  margin-top: 150px;
}

#Dashboard {
  width: 100%;
  height: 60px;
  float: left;
}

#Main {
  width: 100%;
  height: 540px;
}

#Opponent {
    width: 295px;
    height: 540px;
    float: left;
}

#Game {
    width: 550px;
    height: 540px;
    float: right;
}

.GameRow {
    width: 550px;
    height: 140px;
    float: left;
}

div {
  outline: 1px solid red;
}