.App {
  width: 850px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

#Intro {
  width: 100%;
  height: 540px;
}

#Intro button{
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 10px auto 0 auto;
  display: block;
}

.col {
  width: 164px;
  height: 540px;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  overflow: hidden;
}

.col .introimage{
  width: 160px;
  height: 536px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.floatup {
  margin-top: -800px;
  transition-duration: 1s;
}

.introimage1 {
  transition-delay: 0s;
}

.introimage2 {
  transition-delay: 0.2s;
}

.introimage3 {
  transition-delay: 0.4s;
}

.introimage4 {
  transition-delay: 0.8s;
}

.introimage5 {
  transition-delay: 1s;
}

.fade {
  opacity: 0;
  transition: all 0.5s;
}

#IntroStart {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: -70px;
  margin-top: -350px;
}

#Dashboard {
  width: 100%;
  height: 60px;
  float: left;
}

#Dashboard button{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 20px;
  height: 20px;
}

#DashboardQuit, #DashboardRestart {
  width: 20%;
}

#DashboardLanguage {
  width: 100%;
}

label {
  margin-top: 5px;
  font-size: 0.8em;
  display: block;
  float: right;
  text-align: right;
}

div {
  outline: 1px solid red;
}